<div id="<%= dom_id round %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Result:</strong>
    <%= round.result %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Total bets:</strong>
    <%= round.total_bets %>
  </div>
</div>
